.leftbar {
  flex: 3;
  height: calc(100vh - 50px); 
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.leftbarWrapper{
  padding: 20px;
}

.leftbarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftbarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftbarIcon {
  margin-right: 15px;
}

.leftbarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  background-color: black;
  color: white;
}

.leftbarHr {
  margin: 20px 0px;
}

.leftbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.leftbarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}